h1{
    color: yellow;
    background-color: black;
    text-align: center;
}
p.two{
    color: lightgreen;
    text-align: justify;
    font-size: large;
}
p.one{
    color: red;
    text-align: justify;
    font-size: xx-large;
}
body{
    background-image: url(libraryphoto.jpg);
    background-size:cover;
    backdrop-filter: blur(3px);
    color:aqua;
}
